$background-DeepPink:#FF006A;
$background-Blue-Note:#2296F3;
$background-white-font:#ffffff;
$background-gray-border: #CCCCCC;
$background-black:#4444;
$background-DarkOrange:#FFA17F;
$background-charcoal-purple:#00223E;
